@import "./variables/color.scss";
@import "./Component/slider.scss";
@import "./variables/font.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  font-family: "Poppins";
}

.navbar {
  position: absolute;
  display: flex;
  width: 100%;
  z-index: 10;
}
.navbar-logo {
  margin-left: 175px;
  margin-top: 40px;
  color: white;
}

.navbar-list {
  display: flex;
  color: white;
  margin-left: 168px;
  margin-top: 30px;
}
.navbar-list ul {
  list-style-type: none;
}
.navbar-list li {
  float: left;
  margin-right: 78px;
  padding-bottom: 10px;
}
.navbar-list li::after {
  content: "";
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  height: 1px;
  width: 10px;
  transition: width 0.7s ease;
}
.navbar-list li:hover::after {
  width: 100%;
  background-color: white;
}
.navbar-list li:hover {
  cursor: default;
}

.navbar-social {
  margin-top: 7px;
  position: absolute;
  right: 175px;
}

@media screen and (max-width: 1490px) {
  .navbar-list {
    margin-left: 0px;
  }
}

.advertisement {
  margin-top: 140px;
  margin-right: 175px;
  margin-left: 175px;
}

.advertisement-up-line {
  display: flex;
}
.advertisement-up-line-image-container {
  position: relative;
  overflow: hidden;
  width: 50%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 71%;
  }
  .picture {
    transition: 0.2s ease-out;
  }
  .text {
    position: absolute;
    top: 29px;
    left: 29px;
    background-color: white;
    .square {
      position: absolute;
      top: 25px;
      left: 25px;
      background-color: #ffcc48;
      height: 42px;
      width: 42px;
    }
    p {
      position: relative;
      margin-left: 35px;
      margin-right: 25px;
    }
    .name {
      margin-top: 31px;
    }
    .price {
      margin-top: 10px;
      margin-bottom: 25px;
    }
    .line {
      background-color: black;
      margin-left: 35px;
      margin-top: 26px;
      height: 4px;
      width: 49px;
    }
  }
}
.advertisement-down-line {
  display: flex;
  margin-top: 28px;
}
.advertisement-up-line-image-container:hover {
  .picture {
    transform: scale(1.5);
    transition: 0.2s ease-out;
  }
  .arrow-in-image {
    transition: 0.2s ease-in-out;
    background-position: left bottom;

    img {
      filter: invert(100%);
    }
  }
}
.advertisement-down-line-image-container {
  position: relative;
  overflow: hidden;
  width: 50%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 71%;
  }
  .picture {
    transition: 0.2s ease-out;
  }
  .text {
    position: absolute;
    top: 138px;
    left: 29px;
    background-color: white;
    .square {
      position: absolute;
      top: 25px;
      left: 25px;
      background-color: #ffcc48;
      height: 42px;
      width: 42px;
    }
    p {
      position: relative;
    }
    .name {
      margin-top: 31px;
      margin-left: 35px;
      margin-right: 24px;
    }
    .price {
      margin-left: 35px;
      margin-top: 10px;
      margin-bottom: 25px;
    }
    .line {
      background-color: black;
      margin-left: 35px;
      margin-top: 50px;
      height: 4px;
      width: 49px;
    }
    .line-next {
      margin-top: 19px;
    }
  }
  @media screen and (max-width: 1800px) {
    .text {
      top: 20px;
    }
  }
}
.advertisement-down-line-image-container:hover {
  .picture {
    transform: scale(1.5);
    transition: 0.2s ease-out;
  }
  .arrow-in-image {
    transition: 0.2s ease-in-out;
    background-position: left bottom;

    img {
      filter: invert(100%);
    }
  }
}

.arrow-in-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: white;
  border: 1px solid #707070;
  z-index: 10;
  height: 130px;
  width: 130px;
  bottom: 0px;
  right: 0px;
  background: linear-gradient(to right, black 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.2s ease-out;
  img {
    width: 24px;
    height: 21px;
  }
}

.equipment {
  margin-top: 140px;
  margin-right: 175px;
  margin-left: 175px;
  .box {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 380px;
    .image-container {
      display: flex;
      height: 60%;
    }
    .text-container {
      p {
        padding-top: 10px;
      }
    }
    img {
      margin-top: 27%;
    }
  }
  .equipment-button {
    margin-bottom: 100px;
    height: 78px;
    width: 380px;
    display: flex;
    margin-top: 103px;
    background-color: black;
    .arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 78px;
      background-color: black;
    }
    img {
      filter: invert(100%);
      height: 28px;
    }
    button {
      color: white;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 2px;
      height: 101%;
      width: 302px;
      background: linear-gradient(to right, #ffcc48 50%, black 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      transition: all 0.2s ease-out;
      border: none;
    }
    button:hover {
      transition: 0.2s ease-in-out;
      border: none;
      color: black;
      background-position: left bottom;
    }
  }
}
.equipment-up-line {
  display: flex;
  .text-equipment {
    width: 25%;
    .line {
      background-color: black;
      margin-top: 50px;
      margin-bottom: 12px;
      height: 4px;
      width: 40%;
    }
  }
}
.equipment-down-line {
  display: flex;
}
.compare {
  position: relative;
  margin-left: 175px;
  margin-right: 175px;
  .text {
    z-index: 10;
    position: absolute;
    bottom: (10vw);
  }
  .square {
    position: absolute;
    z-index: 10;
    width: 15%;
    margin-top: -(3vw);
    right: 175px;
  }
  img {
    margin-left: 175px;
    width: 100%;
    opacity: 71%;
  }
  .line {
    position: absolute;
    z-index: 1;
    background-color: black;
    bottom: (4vw);
    height: 8px;
    width: 40%;
  }
}
.topicality {
  margin-top: 137px;
  margin-left: 175px;
  margin-right: 175px;
  a {
    color: black;
  }
  img {
    width: 100%;
  }
  .main-text {
    text-align: center;
  }
  .container {
    margin-top: 113px;
    display: flex;
  }
  .box {
    width: 33%;
  }
}
.galery {
  display: flex;
  margin-top: 142px;
  overflow: hidden;
  height: 95vh;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .left-site:hover {
    .image {
      transform: scale(1.5);
      transition: 0.2s ease-out;
    }
    .arrow {
      transition: 0.2s ease-out;
      background-position: right bottom;
      img {
        filter: invert(100%);
      }
    }
  }
  .left-site {
    width: 30%;
    overflow: hidden;
    .image {
      height: 100%;
      transition: 0.2s ease-out;
    }
    .arrow {
      position: absolute;
      z-index: 10;
      height: 130px;
      width: 130px;
      left: 15px;
      margin-top: (45vh);
      background: linear-gradient(to right, white 50%, black 50%);
      background-size: 200% 100%;
      background-position: left bottom;
      transition: 0.2s ease-out;

      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 38px;
        width: 43px;
      }
    }
  }
  .main-site {
    margin-left: 30px;
    width: 50%;
    .up-image {
      height: 60%;
      margin-bottom: 20px;
    }
    .down-image {
      height: 40%;
      img {
        object-position: 60% bottom;
      }
    }
  }
  .right-site {
    width: 20%;
    margin-left: 30px;
    .arrow {
      position: absolute;
      z-index: 10;
      height: 130px;
      width: 130px;
      right: 15px;
      margin-top: (45vh);
      background: linear-gradient(to right, black 50%, white 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      transition: 0.2s ease-out;

      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 38px;
        width: 43px;
      }
    }
    .arrow:hover {
      background-position: left bottom;
      transition: 0.2s ease-out;
      img {
        filter: invert(100%);
      }
    }
    .text {
      height: 40%;
      text-align: center;
      .line {
        margin-top: 55px;
        z-index: 1;
        background-color: black;
        height: 12px;
        margin-left: -(5vw);
        width: 80%;
      }
    }
    .image {
      height: 60%;
    }
  }
}
.footer {
  display: flex;
  position: relative;
  margin-top: 140px;
  color: white;
  background-color: black;
  .square {
    position: absolute;
    top: -30px;
    right: 175px;
  }
  .left-site {
    margin-left: 172px;
    width: 30%;
  }
  .main-site {
    display: flex;
    .coll {
      display: flex;
      align-items: center;
      width: 50%;
      height: 100%;
    }
    ul {
      list-style-type: none;
    }
    li {
      float: left;
      margin-right: 78px;
      padding-bottom: 10px;
    }
    width: 50%;
  }
  .rigth-site {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 50px;
    width: 20%;
    img {
      margin-left: 8px;
      height: 18px;
      width: 70px;
    }
    .text {
      display: flex;
    }
  }
}
