@import "./variables/color.scss";
@import "./Component/slider.scss";
@import "./variables/font.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  font-family: "Poppins";
}

.navbar {
  position: absolute;
  display: flex;
  width: 100%;
  z-index: 10;
}
.navbar-logo {
  margin-left: 175px;
  margin-top: 40px;
  color: white;
}

.navbar-list {
  display: flex;
  color: white;
  margin-left: 168px;
  margin-top: 30px;
}
.navbar-list ul {
  list-style-type: none;
}
.navbar-list li {
  float: left;
  margin-right: 78px;
  padding-bottom: 10px;
}
.navbar-list li::after {
  content: "";
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  height: 1px;
  width: 10px;
  transition: width 0.7s ease;
}
.navbar-list li:hover::after {
  width: 100%;
  background-color: white;
}
.navbar-list li:hover {
  cursor: default;
}

.navbar-social {
  margin-top: 7px;
  position: absolute;
  right: 175px;
}

@media screen and (max-width: 1490px) {
  .navbar-list {
    margin-left: 0px;
  }
}

.advertisement {
  margin-top: 140px;
  margin-right: 175px;
  margin-left: 175px;
}

.advertisement-up-line {
  display: flex;
}
.advertisement-up-line-image-container {
  position: relative;
  width: 50%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .text {
    position: absolute;
    top: 29px;
    left: 29px;
    background-color: white;
    .square {
      position: absolute;
      top: 25px;
      left: 25px;
      background-color: #ffcc48;
      height: 42px;
      width: 42px;
    }
    p {
      position: relative;
      margin-left: 35px;
      margin-right: 25px;
    }
    .name {
      margin-top: 31px;
    }
    .price {
      margin-top: 10px;
      margin-bottom: 25px;
    }
    .line {
      background-color: black;
      margin-left: 35px;
      margin-top: 26px;
      height: 4px;
      width: 49px;
    }
  }
}
.advertisement-down-line {
  display: flex;
  margin-top: 28px;
}

.advertisement-down-line-image-container {
  position: relative;
  width: 50%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .text {
    position: absolute;
    top: 138px;
    left: 29px;
    background-color: white;
    .square {
      position: absolute;
      top: 25px;
      left: 25px;
      background-color: #ffcc48;
      height: 42px;
      width: 42px;
    }
    p {
      position: relative;
    }
    .name {
      margin-top: 31px;
      margin-left: 35px;
      margin-right: 24px;
    }
    .price {
      margin-left: 35px;
      margin-top: 10px;
      margin-bottom: 25px;
    }
    .line {
      background-color: black;
      margin-left: 35px;
      margin-top: 50px;
      height: 4px;
      width: 49px;
    }
    .line-next {
      margin-top: 19px;
    }
  }

  @media screen and (max-width: 1800px) {
    .text {
      top: 20px;
    }
  }
}

.arrow-in-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: white;
  border: 1px solid #707070;
  z-index: 10;
  height: 130px;
  width: 130px;
  bottom: 0px;
  right: 0px;
  background: linear-gradient(to right, black 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.2s ease-out;
  img {
    width: 24px;
    height: 21px;
  }
}
.arrow-in-image:hover {
  transition: 0.2s ease-in-out;
  background-position: left bottom;

  img {
    filter: invert(100%);
  }
}
