.font-65px {
  font-size: 65px;
  margin: 0px;
}
.font-48px {
  font-size: 48px;
  margin: 0px;
}
.font-28px {
  font-size: 28px;
  margin: 0px;
}
.font-18px {
  font-size: 18px;
  margin: 0px;
}
.font-16px {
  font-size: 16px;
  margin: 0px;
}
.font-12px {
  font-size: 12px;
  margin: 0px;
}
.font-bold {
  font-weight: bold;
}
