.slider-container {
  position: relative;
  width: 100%;
  background-color: white;
}

.main-slider-container {
  display: flex;
  position: absolute;
  width: 100%;
  top: 189px;
}

.text-in-content {
  position: absolute;
  bottom: 150px;
  margin-left: 175px;
  color: white;
}
.form-in-content {
  margin-right: 175px;
  width: 100%;
}
.form {
  background-color: white;
  width: 449px;
  float: right;
}
.form-header {
  margin-top: 28px;
  margin-left: 33px;
  margin-right: 25px;
}
.form-main {
  display: block;
  margin-left: 33px;
  margin-right: 33px;
  margin-top: 34px;
}
.form-input-section input {
  display: block;
  margin-top: 20px;
  height: 52px;
  width: 363px;
  font-size: 18px;
  padding-left: 20px;
}

.agreement {
  display: flex;
  font-size: 10px;
  margin-top: 20px;
}
.agreement input {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  margin-left: 0px;
}

.form-button {
  height: 52px;
  width: 100%;
  margin-top: 21px;
  margin-bottom: 33px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  letter-spacing: 4px;
  text-align: center;
  padding-top: auto;
  background: linear-gradient(to right, #ffcc48 50%, black 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.2s ease-out;
  border: none;
}
.form-button:hover {
  transition: 0.2s ease-in-out;
  border: none;
  color: black;
  background-position: left bottom;
}

.button-slider-container {
  position: absolute;
  display: flex;
  bottom: 6px;
  left: 0px;
  img {
    width: 38px;
    height: 33px;
  }
  .left {
    background: linear-gradient(to right, white 50%, black 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    transition: all 0.2s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 118px;
    width: 160px;
  }
  .left:hover {
    transition: 0.2s ease-in-out;
    background-position: right bottom;
  }
  .right {
    background: linear-gradient(to right, black 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.2s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 145px;
  }
  .right:hover {
    transition: 0.2s ease-in-out;
    background-position: left bottom;
  }
  :hover {
    img {
      filter: invert(100%);
    }
  }
}
h1 {
  font-size: 65px;
  margin: 0px;
}

.hidden-picture {
  height: 0px !important;
  opacity: 0 !important;
  overflow: hidden;
  display: block;
}

.slider-image-container {
  position: relative;
  width: 100%;
  margin: auto;
  img {
    transition: 0.1s ease-in-out;
    opacity: 1;
    filter: brightness(70%);
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
}

@media screen and (max-height: 830px) {
  .main-slider-container {
    top: 80px;
  }

  .slider-image-container {
    img {
      height: 830px;
    }
  }
}
