.slider-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
}

.main-slider-container {
  display: flex;
  position: absolute;
  width: 100%;
  top: 100px;
}

.text-in-content {
  margin-left: 175px;
  color: white;
  width: 50%;
}
.form-in-content {
  margin-right: 175px;
  width: 50%;
}
.form {
  background-color: white;
  width: 449px;
  float: right;
}
.form-header {
  margin-top: 28px;
  margin-left: 33px;
  margin-right: 25px;
}
.form-main {
  display: block;
  margin-left: 33px;
  margin-right: 33px;
  margin-top: 34px;
}
.form-input-section input {
  display: block;
  margin-top: 20px;
  height: 52px;
  width: 363px;
  font-size: 18px;
  padding-left: 20px;
}

.agreement {
  display: flex;
  font-size: 10px;
  margin-top: 20px;
}
.agreement input {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  margin-left: 0px;
}

.form-button {
  height: 52px;
  width: 100%;
  margin-top: 21px;
  margin-bottom: 33px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  letter-spacing: 4px;
  text-align: center;
  padding-top: auto;
  background-color: black;
  border: none;
  transition: 0.4s ease-in-out;
}
.form-button:hover {
  transition: 0.4s ease-in-out;
  border: none;
  color: black;
  background-color: #ffcc48;
  // filter: invert(100%);
}

.button-slider-container {
  position: absolute;
  bottom: 0px;
  left: 0;
  :hover {
    transition: 0.4s ease-in-out;
    filter: invert(100%);
  }
}
.font-28px {
  font-size: 28px;
  margin: 0px;
}
.font-18px {
  font-size: 18px;
  margin: 0px;
}
.font-bold {
  font-weight: bold;
}

.hidden-picture {
  height: 0px !important;
  opacity: 0 !important;
  overflow: hidden;
  display: block;
}

.slider-image-container {
  position: relative;
  width: 100%;
  margin: auto;
  img {
    transition: 0.1s ease-in-out;
    opacity: 1;
    filter: brightness(70%);
    width: 100%;
  }
}
